<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dziennik samochodowy</title>
    <link rel="stylesheet" href="../static/css/uikit.min.css" th:href="@{/css/uikit.min.css}">
    <script th:src="@{/js/uikit.js}"></script>
    <script th:src="@{/js/uikit-icons.js}"></script>
</head>
<body>
<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-center">
        <a th:href="@{/}" class="uk-navbar-item uk-logo">Dziennik Samochodowy</a>
        <ul class="uk-navbar-nav">
            <li class="li uk-parent"><a th:href="@{/data}">Dane</a></li>
            <li class="li uk-parent"><a th:href="@{/#}">Wykresy</a></li>
            <li class="li uk-parent"><a th:href="@{/#}">Naprawy</a></li>
        </ul>
    </div>
</nav>
<div class="uk-container" style="margin-top: 100px">
    <div>
        <a class="uk-button uk-button-default" th:href="@{/data/new}" type="button">Nowa podróż</a>
    </div>
    <table class="uk-table uk-table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Data</th>
            <th>Ilość paliwa</th>
            <th>Cena</th>
            <th>Wartość</th>
            <th>Przebieg</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car: ${cars}">
            <td th:text="${car.id}"></td>
            <td th:text="${car.carTime}" type="date" data-uk-datepicker="{format:'DD.MM.YYYY'}"></td>
            <td th:text="${car.carTank}"></td>
            <td th:text="${car.pricePerLiter}"></td>
            <td th:text="${car.totalPrice}"></td>
            <td th:text="${car.mileage}"></td>
            <td>
                <a class="uk-button uk-button-default" th:href="@{/data/edit/{id}(id = ${car.id})}" type="button">Edytuj</a>
            </td>
            <td>
                <a class="uk-button uk-button-danger" th:href="@{/data/remove/{id}(id = ${car.id})}" type="button">Usuń</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>