<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dziennik samochodowy</title>
    <link rel="stylesheet" href="../static/css/uikit.min.css" th:href="@{/css/uikit.min.css}">
    <script th:src="@{/js/uikit.js}"></script>
    <script th:src="@{/js/uikit-icons.js}"></script>
</head>
<body>
<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-center">
        <a th:href="@{/}" class="uk-navbar-item uk-logo">Dziennik Samochodowy</a>
        <ul class="uk-navbar-nav">
            <li class="li uk-parent"><a th:href="@{/data}">Dane</a></li>
            <li class="li uk-parent"><a th:href="@{/#}">Wykresy</a></li>
            <li class="li uk-parent"><a th:href="@{/#}">Naprawy</a></li>
        </ul>
    </div>
</nav>
<div class="uk-container" style="margin-top: 100px">
    <form class="uk-form-horizontal uk-margin-large" th:action="@{/data/edit}" method="post" action="#" th:object="${car}">
        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text">ID</label>
            <div class="uk-form-controls">
                <input th:field="*{id}" class="uk-input" id="form-horizontal-text" type="text" readonly>
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text">Data</label>
            <div class="uk-form-controls">
                <input th:field="*{carTime}" class="uk-input" id="form-horizontal-text" type="date" data-uk-datepicker="{format:'DD.MM.YYYY'}">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text">Ilość paliwa</label>
            <div class="uk-form-controls">
                <input th:field="*{carTank}" class="uk-input" id="form-horizontal-text" type="number" step="0.01" min="0.00">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text">Cena</label>
            <div class="uk-form-controls">
                <input th:field="*{pricePerLiter}" class="uk-input" id="form-horizontal-text" type="number" step="0.01" min="0.00">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text">Wartość</label>
            <div class="uk-form-controls">
                <input th:field="*{totalPrice}" class="uk-input" id="form-horizontal-text" type="number" step="0.01" min="0.00">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text">Przebieg</label>
            <div class="uk-form-controls">
                <input th:field="*{mileage}" class="uk-input" id="form-horizontal-text" type="number" step="1" min="0">
            </div>
        </div>
        <a th:href="@{/data}"><input class="uk-button uk-button-danger" type="button" value="Anuluj"></a>
        <a th:href="@{/data}"><input type="submit" class="uk-button uk-button-primary" value="Zapisz"></a>
    </form>
</div>
</body>
</html>